h1{
  color: white;
  font-size: 3em;
  text-align: center;
  font-family: monospace;
    margin: 0;
}

h2{
  font-family: monospace;
  color: white;
  text-align: center;
  margin: 5% 0;
}

img{
height:500px;
 width:auto;
}

#wrapper { width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #112131;
  float: right; 
  font-size:15px;
}

body{
  font-family: monospace;
  color: darkred;
  background-color: #112131;
}

.paragraph{

  text-transform: uppercase;
  color: floralwhite;
  float: left;
  
  display: flex;
  flex-wrap: wrap;
}

table, th, td {
  border: 1px solid black;
   border-collapse: collapse;
    background-color: #ffffff;
}

  

div{
  font-family: monospace;
  font-size:10px;
  font-weight:bold;
}
 td {
  font-family: verdana;
  padding: 10px;
  text-align:center;

}
tr:first-child{
  background-color:red;
  color:black;
}



/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  /* Styles for mobile screens */

  .steps {
    display: block;
      width:80%;
       margin:0 auto;
       text-align: center;
}
  }

li{
  background-color: #111111;
  color: white;
  }


a:link {
  color: #000000;
}

a:visited {
  color: #ffffff;
}


a:hover {
  color: #FF00FF;
}


a:active {
  color: #0000FF;
}

