header{
	text-align: center;
	font-family: monospace;
	font-size: 35px;
	color: #ffffff;
}

body{
	background-image: url(https://cdn.shopify.com/s/files/1/0277/2615/1768/products/1610735816DLWNRSKE_1617387539_800x1026_crop_center@2x.jpg?v=1622781699);
}

.contents {
	text-align: center;
	font-size: 16.5px;
	font-family: monospace;
	color: #C4A484;
}

a{
    color: #ffffff;
}

div{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	background-color: #C4A484;
	width: 800px;
	font-size: 20px;
	font-family: monospace;
	color: #ffffff;
}

ul{
	text-align: left;
}

img{

	width: 800px;
}
footer{
	font-family: monospace;
	color:#ffffff;
}